<h4><mat-icon>help</mat-icon>{{ question.category }}</h4>

<h2>{{ question.text }}</h2>

<mat-radio-group
  [(ngModel)]="voterAnswer"
  class="likert">
  <div class="likert-option">
    <label class="likert-option-label">Täysin eri mieltä</label>
    <mat-radio-button value="1"></mat-radio-button>
  </div>
  <div class="likert-option">
    <mat-radio-button value="2"></mat-radio-button>
  </div>
  <div class="likert-option">
    <label class="likert-option-label">Neutraali</label>
    <mat-radio-button value="3"></mat-radio-button>
  </div>
  <div class="likert-option">
    <mat-radio-button value="4"></mat-radio-button>
  </div>
  <div class="likert-option">
    <label class="likert-option-label">Täysin samaa mieltä</label>
    <mat-radio-button value="5"></mat-radio-button>
  </div>
</mat-radio-group>

<distribution-chart
  [question-id]="question.id"
  padding-ratio="0.75"></distribution-chart>