@import 'variables.scss'

:host
  display: block
  max-width: $maxWidth-S

header
  margin: $margin-S 0

.candidates
  margin-bottom: $margin-M

.candidate
  cursor: pointer

.candidate:hover
  background-color: $color-secondaryBg

// .portrait

.name
  font-weight: bold

.party
  mat-icon
    font-size: 20px
    height: 20px
    width: 20px
    vertical-align: bottom

.number
  font-weight: bold
  padding: 0.5rem
  border-radius: 2rem
  min-width: 3rem
  text-align: center

.buttons
  margin: $margin-M 0
  text-align: right

.notice
  // @include allCaps
  color: $color-secondary
  // font-size: $fontSize-M
  text-align: center
  min-height: 40vh
  padding: $margin-L
  display: flex
  align-items: center

  mat-icon
    font-size: 16px
    height: 16px
    width: 16px
    vertical-align: middle
