<app-progress-spinner *ngIf="isLoading"
                      title="Ladataan tuloksia…"
                      [value]="progressValueEmitter | async"></app-progress-spinner>

<svg #map id="map">
  <svg:g #mapZoomContainer id="map-zoomContainer">
    <svg:g *ngFor="let candidate of filteredOutCandidates"
           [candidate-avatar]="candidate"
           [posBase]="posBase"
           class="map-avatarG--candidate map-avatarG--candidate--filteredOut"></svg:g>
    <svg:g *ngFor="let candidate of filteredInCandidates"
           [candidate-avatar]="candidate"
           [posBase]="posBase"
           (click)="showCandidate(candidate)"
           class="map-avatarG--candidate"
           [matTooltip]="getTooltip(candidate)"
           [matTooltipClass]="getTooltipClass(candidate)"
           matTooltipPosition="above"></svg:g>
    <svg:g [voter-avatar]="true"
           [posBase]="posBase"
           class="map-avatarG--voter"
           matTooltip="Olet tässä"
           [matTooltipClass]="getTooltipClass()"
           matTooltipPosition="above"
           #voter id="voter"></svg:g>
  </svg:g>
</svg>