
<h3 [ngClass]="baseClass + '-question'">{{ text }}</h3>
<div [ngClass]="baseClass + '-likertBlock'">
  <div [ngClass]="baseClass + '-titleDiv'">
    <label *ngIf="voterAnswer && voterAnswer != candidateAnswer"
              [ngClass]="getVoterTitleClassName()">Sinä</label>
    <label *ngIf="candidateAnswer && voterAnswer != candidateAnswer"
              [ngClass]="getCandidateTitleClassName()">{{ candidateTitle }}</label>
    <label *ngIf="!candidateAnswer"
              [ngClass]="getCandidateTitleClassName()">Ei vastausta ehdokkaalta</label>
    <label *ngIf="voterAnswer && voterAnswer == candidateAnswer"
              [ngClass]="getVoterTitleClassName()">Sinä & ehdokas</label>
  </div>
  <svg width="100%"
       height="2.625rem"
       [ngClass]="getSvgClassName()">
    <svg:rect x="0" y="0"
              width="100%"
              height="2rem"
              rx="1rem"
              [ngClass]="baseClass + '-valueBg'"></svg:rect>
    <svg:g [ngClass]="baseClass + '-valueGroup'">
      <svg:line *ngIf="drawLine"
                [attr.x1]="getX(voterAnswer)" y1="1rem"
                [attr.x2]="getX(candidateAnswer)" y2="1rem"
                [ngClass]="getLineClassName()"></svg:line>
      <svg:line *ngIf="partyAnswer"
                [attr.x1]="getX(partyAnswer)" y1="1.5rem"
                [attr.x2]="getX(partyAnswer)" y2="2.5rem"
                [ngClass]="baseClass + '-partyValue'"></svg:line>
      <svg:circle *ngFor="let i of [1,2,3,4,5]"
                  [attr.cx]="getX(i)" cy="1rem"
                  [attr.r]="getRadius(i)"
                  [ngClass]="getValueClassName(i)"></svg:circle>
    </svg:g>
  </svg>
  <div *ngIf="partyAnswer"
       [ngClass]="baseClass + '-partyTitleDiv'">
    <label [ngClass]="baseClass + '-partyTitle'"
           [style.left]="getX(partyAnswer, -10)"
           [matTooltip]="partyTooltip"
           [matTooltipClass]="baseClass + '-partyTooltip'"
           matTooltipPosition="below">{{ partyTitle }}</label>
  </div>
       
  <div *ngIf="showLegend"
      [ngClass]="baseClass + '-legendDiv'">
    <label [ngClass]="getLegendClassName(1)">Täysin eri mieltä</label>
    <label [ngClass]="getLegendClassName(3)">Neutraali</label>
    <label [ngClass]="getLegendClassName(5)">Täysin samaa mieltä</label>
  </div>
</div>
<app-fadeout-expander *ngIf="candidateAnswerOpen"
     [ngClass]="getOpenAnswerClassName()">
  <mat-icon>format_quote</mat-icon>
  {{ candidateAnswerOpen }}
</app-fadeout-expander>