@import 'variables.scss'

$outerPadding: $margin-L

:host
  display: flex
  padding: $outerPadding
  width: 100%
  min-height: 100vh
  background-color: $color-brandedBg
  color: $color-text
  text-align: center
  flex-flow: column nowrap
  justify-content: space-between
  align-items: stretch
  align-content: center

#menuButton
  position: absolute
  top: $margin-L
  left: $margin-L
  z-index: $zIndex-7

.title
  margin-top: 7rem // Balance out top-bar
  margin-bottom: $margin-L
  // h1 
  //   position: relative
  //   font-size: $fontSize-XXL
  //   font-weight: bold
  //   margin-top: 10vh

  #vignette
    max-width: min(100%, #{$maxWidth-S})
    max-height: 35vh
    // position: absolute
    // --width: max(100vw, 90rem)
    // width: var(--width)
    // top: calc(#{$titleHeight} - var(--width) * 7/14)
    // left: calc((100vw - var(--width)) / 2)

.clickableArea
  cursor: pointer

.description
  flex: 1 1 auto
  margin: 0 auto

  @media (min-width: $breakpoint-M)
    display: flex
    flex-direction: row
    width: 100%
    max-width: 50rem
    justify-content: space-around
    align-items: flex-start

  > div
    margin: 0 auto $margin-L auto

    > p
      max-width: 22rem // $maxWidth-S
      margin: 0 auto $margin-S auto

      &:first-child
        font-weight: bold

      &:not(:first-child)
        font-size: $fontSize-S

  .info
    font-size: $fontSize-S
    hyphens: none
    margin: $margin-M auto $margin-S auto
    max-width: $maxWidth-S
    position: relative
    z-index: $zIndex-6

    a
      color: inherit !important

    mat-icon
      height: 16px
      width: 16px
      font-size: 16px
      vertical-align: text-top

  .readMore
    color: $color-nega
    position: relative
    z-index: $zIndex-6

  #nextButton
    font-size: $fontSize-L
    text-transform: uppercase
    margin-bottom: $margin-M
    position: relative
    z-index: $zIndex-6

  //   &:hover
  //     background-color: $color-negaSelectedBg

// .clickableArea:hover + * #nextButton
//   background-color: $color-negaSelectedBg

footer,
.logos
  // position: absolute
  // text-align: center
  // vertical-align: middle
  // bottom: 0
  // left: 0
  // width: 100%
  background-color: $color-nega
  color: $color-text
  flex: 0 1 auto
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  margin: -$outerPadding
  margin-top: $margin-L
  padding: 1.5 * $outerPadding $outerPadding

  #publisherLogo
    max-width: min(14rem, 40vw)

  > p
    font-size: $fontSize-S
    line-height: $lineHeight-S
    margin-top: $margin-L
    text-align: center

  > div
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center

    > *
      margin: 0 0.75rem

    #logos-skf
      height: 0.9 * 2.5rem

    #logos-skr
      height: 0.9 * 4.5rem

    #logos-kaljarv
      height: 0.9 * 1.25rem