<button id="menuButton"
        mat-icon-button 
        aria-label="Avaa valikko"
        (click)="toggleSideNav($event)">
  <mat-icon>menu</mat-icon>
</button>

<section class="title clickableArea"
         (click)="goForward()">

    <div id="vignette">
      <ng-lottie [options]="animationOptions" 
                (animationCreated)="animationCreated($event)"
                (domLoaded)="animationDomLoaded()"
                (loopComplete)="animationLoopCompleted()"></ng-lottie>
      <!--
      <img src="assets/images/map-vignette.svg" />
      -->
    </div>

    <h1>
      Ehdokas&shy;kartta
      <span class="betaBadge">Beta</span>
    </h1>

</section>

<section class="description">

  <button id="nextButton"
          color="white"
          mat-stroked-button
          (click)="goForward()">
    Aloita
    <mat-icon>navigate_next</mat-icon>
  </button>

  <p class="info">
    Ehdokaskartta on kokeellinen, avoimeen lähdekoodiin perustuva vaalikone, joka käyttää Ylen kuntavaalien 2021 Vaalikoneen tietoja. Sen keskeisenä tarkoituksena on kerätä käyttäjien kokemuksia, joten kaikenlainen palaute on tervetullutta. <a href="https://vaalit.fi/kuntavaalit" target="_blank">Kuntavaalien</a> vaalipäivä on sunnuntai 13.6.2021.<br>
    <a mat-button
       [routerLink]="aboutPath"
       class="readMore">
      Lue lisää Ehdokaskartasta
    </a>
  </p>

</section>

<section class="logos">
  <!-- <a mat-button
     href="https://yle.fi/"
     (click)="$event.stopPropagation()"
     title="Yle"
     target="_blank">
    <img id="logos-yle"
         src="assets/images/yle-logo-white.svg" /> 
  </a> -->
  <a mat-button
     href="https://www.aalto.fi/fi"
     (click)="$event.stopPropagation()"
     title="Aalto-yliopisto"
     target="_blank">
    <img id="logos-aalto"
        src="assets/images/aalto-logo-white.svg" />
  </a>
  <a mat-button
     href="http://kaljarv.com/"
     (click)="$event.stopPropagation()"
     title="Kalle Järvenpää Design"
     target="_blank">
    <img id="logos-kaljarv"
        src="assets/images/kaljarv-logo-white.svg" />
  </a>
</section>