<!-- <button id="menuButton"
        mat-icon-button 
        aria-label="Avaa valikko"
        (click)="toggleSideNav($event)">
  <mat-icon>menu</mat-icon>
</button> -->

<section class="title clickableArea"
         (click)="goForward()">

    <h1 i18n>
      Kielivaalikone 2023 Språkvalkompass
    </h1>

    <img id="vignette"
         src="assets/images/vignette.png"
         i18n-alt
         alt="Kuvituskuva" />

</section>

<section class="description">

  <div class="description-primaryLanguage">

    <p i18n>
      Onko sinulle tärkeää, että kansalliskielet suomi ja ruotsi säilyvät yhteisinä, täysimittaisina kielinämme Suomessa? <a href="https://omakieli.fi/" target="_blank">Oma kieli ry:n</a> toteuttamassa Kielivaalikoneessa pääset puntaroimaan omia ja eduskuntavaaliehdokkaiden kielipoliittisia näkemyksiä. Vastaa kysymyksiin ja löydä kansalliskielimyönteinen ehdokas!
    </p>

    <button id="nextButton"
            color="primary"
            mat-flat-button
            (click)="goForward()">
      <ng-container i18n>Aloita</ng-container>
      <mat-icon>navigate_next</mat-icon>
    </button>

  </div>

  <div class="description-secondaryLanguage">

    <p i18n="Intro toisella kielellä">
      XXX På svenska Onko sinulle tärkeää, että kansalliskielet suomi ja ruotsi säilyvät yhteisinä, täysimittaisina kielinämme Suomessa? <a href="https://omakieli.fi/" target="_blank">Oma kieli ry:n</a> toteuttamassa Kielivaalikoneessa pääset puntaroimaan omia ja eduskuntavaaliehdokkaiden kielipoliittisia näkemyksiä. Vastaa kysymyksiin ja löydä kansalliskielimyönteinen ehdokas!
    </p>

    <button id="nextButton"
            color="primary"
            mat-flat-button
            (click)="switchLanguage()">
      <ng-container i18n="Aloita-nappi toisella kielellä">Börja</ng-container>
      <mat-icon>navigate_next</mat-icon>
    </button>

  </div>

</section>

<section class="logos">
  <p i18n>Kielivaalikonetta ovat tukeneet</p>
  <div>
    <a mat-button
      href="https://www.skr.fi"
      (click)="$event.stopPropagation()"
      i18n-title
      title="Suomen Kulttuurirahasto"
      target="_blank">
      <img id="logos-skr"
          src="assets/images/logo-skr.svg" />
    </a>
    <!-- <a mat-button
      href="http://kaljarv.com/"
      (click)="$event.stopPropagation()"
      title="Kalle Järvenpää Design"
      target="_blank">
      <img id="logos-kaljarv"
          src="assets/images/kaljarv-logo-white.svg" />
    </a> -->
  </div>
</section>