<mat-card id="container"
          [class.expanded]="expanded">
  <header>
    <button id="menuButton"
            mat-icon-button 
            aria-label="Avaa valikko"
            (click)="onMenuButtonClick($event)">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="title">
      <li (click)="followLink('constituencyPicker', $event)"
          [class.current]="currentPage == 'constituencyPicker'">
        <div class="marker">1</div>
        <span>Kotikuntasi</span>
      </li>
      <li (click)="followLink('questions', $event)"
          [class.current]="currentPage == 'questions'"
          [class.disabled]="!enableQuestions">
        <div class="marker">
          <ng-container *ngIf="enableQuestions">2</ng-container>
          <mat-icon *ngIf="!enableQuestions">block</mat-icon>
        </div>
        <span>Kysymykset</span>
      </li>
      <li (click)="followLink('map', $event)"
          [class.current]="currentPage == 'map' || currentPage == 'browse'"
          [class.disabled]="!enableQuestions">
        <div class="marker">
          <ng-container *ngIf="enableQuestions">3</ng-container>
          <mat-icon *ngIf="!enableQuestions">block</mat-icon>
        </div>
          <span *ngIf="enableMap && currentPage != 'browse'"
                @labelAppear>Tulokset</span>
          <span *ngIf="!enableMap || currentPage == 'browse'"
                @labelAppear>Selaa ehdokkaita</span>
      </li>
    </div>
    <mat-icon [@toggleRotate]="expanded ? 'rotated' : 'normal'"
              (click)="toggle()"
              class="expandIcon">expand_more</mat-icon>
  </header>
  <section [@toggleExpand]="expanded ? 'open' : 'closed'"
           (click)="toggle()"
           class="content">
    <ng-template #stringContentTemplate>
      {{ content }}
    </ng-template>
    <ng-template #contentTemplate>
      <!-- We insert here either a component or the template above -->
    </ng-template>
  </section>
</mat-card>