<!-- Menus 
     NB. The menu headings are very unelegantly cretated with disabled buttons
     to match the style of the other buttons... -->

<mat-menu #voterMenu="matMenu" 
          yPosition="above">
  <button mat-menu-item 
          disabled 
          role="heading"
          class="menuHeading">Olet tässä</button>
  <button mat-menu-item
          (click)="goToQuestions()">
    Muokkaa vastauksiasi kysymyksiin
  </button>
  <button mat-menu-item
          (click)="showFavourites()">
    Näytä muistilistasi
  </button>
</mat-menu>

<mat-menu #partyMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item 
            disabled 
            role="heading"
            class="menuHeading">{{ getPartyMenuData().party }}</button>
    <button mat-menu-item
            (click)="setPartyFilter('show')">Näytä vain tämän puolueen ehdokkaat</button>
    <button mat-menu-item
            [disabled]="isOnlyActivePartyFilter()"
            (click)="setPartyFilter('hide')">Piilota tämän puolueen ehdokkaat</button>
    <button mat-menu-item
            [disabled]="!partyFiltersActive"
            (click)="setPartyFilter('showAll')">Näytä kaikkien puolueiden ehdokkaat</button>
  </ng-template>
</mat-menu>

<!-- Menu triggers, not visible but needed for controlling menus -->

<div #partyMenuTrigger
     id="partyMenuTrigger"
     [matMenuTriggerFor]="partyMenu"
     [style.left]="partyMenuTriggerProperties.x"
     [style.top]="partyMenuTriggerProperties.y"></div>

<div #voterMenuTrigger
     id="voterMenuTrigger"
     [matMenuTriggerFor]="voterMenu" 
     [style.left]="voterMenuTriggerProperties.x"
     [style.top]="voterMenuTriggerProperties.y"></div>

<!-- Map -->

<app-map-canvas [markerData]="markerData"
                [coordinateScale]="coordinateScale"
                [backgroundType]="mapBackgroundType"
                [markerScale]="markerScale"
                [mapCentre]="mapCentre"
                [minimizedCandidateScale]="minimizedCandidateScale"
                [zoomExtents]="zoomExtents"
                [zoomEmitter]="zoomEmitter"
                [showLabelsAtFactor]="showLabelFactor"
                [redrawEmitter]="redrawEmitter"
                (onMarkerClick)="onMarkerClick($event)"
                (onBgClick)="hideCandidate()"></app-map-canvas>