<mat-sidenav-container>
  <mat-sidenav #sideNav 
               mode="push">
    <mat-nav-list>
        <a mat-list-item routerLink="/" >Alkuun</a>
        <a mat-list-item routerLink="/questions" >Kysymyksiin</a>
        <a mat-list-item routerLink="/map" >Karttaan</a>
        <a mat-list-item routerLink="/test" >Testi</a>
        <a mat-list-item (click)="unsetVoterAnswers()" >Nollaa tallennetut vastaukset</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-top-bar [title]="title"
                 [subtitle]="subtitle"></app-top-bar>
    <div *ngIf="showTopTools"
         id="topTools">
      <!--
        <mat-menu #filterMenu="matMenu"
                  yPosition="below"
                  xPosition="before">
          <h4>Suodata ehdokkaita</h4>
          <button mat-menu-item [matMenuTriggerFor]="genderMenu">Sukupuolen mukaan</button>
          <button mat-menu-item>Puolueen mukaan</button>
          <button mat-menu-item>Tietyn kysymyksen mukaan</button>
        </mat-menu>
        <mat-menu #genderMenu="matMenu">
          <button mat-menu-item>Suodata miehet</button>
          <button mat-menu-item>Suodata naiset</button>
          <button mat-menu-item>Suodata muut</button>
          <button mat-menu-item>Suodata ne, jotka eivät ilmoittaneet sukupuoltaan</button>
        </mat-menu>
      -->
      <button id="filterButton"
              mat-mini-fab aria-label="Suodata ehdokkaita"
              (click)="openCandidateFilters()"
              matTooltip="Suodata ehdokkaita"
              matTooltipClass="tools-tooltip"
              matTooltipPosition="left">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
    <router-outlet></router-outlet>
    <div #bottomTools 
         id="bottomTools">
      <button #menuButton 
              id="menuButton"
              mat-mini-fab aria-label="Avaa valikko"
              (click)="sideNav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button #nextButton 
              id="nextButton"
              mat-raised-button 
              color="primary" 
              disabled
              (click)="goForward()">
        Seuraava
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
