<mat-sidenav-container>

  <mat-sidenav #sideNav
               mode="push">
    <mat-nav-list *ngIf="!underMaintenance">
        <a mat-list-item 
           (click)="followLink('/')"
           i18n>
          Palaa alkuun
        </a>

        <a mat-list-item 
           (click)="followLink('constituencyPicker')"
           i18n>
          Siirry vaalipiirin valintaan
        </a>

        <a *ngIf="enableQuestions"
           mat-list-item 
           (click)="followLink('questions')"
           i18n>
           Siirry kysymyksiin
        </a>
        <mat-list-item *ngIf="!enableQuestions"
                       class="disabled"
                       i18n-matTooltip
                       matTooltip="Vaalipiiri täytyy valita ennen kysymyksiin vastaamista"
                       matTooltipPosition="right"
                       i18n>
           Siirry kysymyksiin
        </mat-list-item>

        <a *ngIf="enableMap"
           mat-list-item 
           (click)="followLink('list')"
           i18n>
          Siirry tuloksiin
        </a>
        <mat-list-item *ngIf="!enableMap"
                       class="disabled"
                       i18n-matTooltip
                       matTooltip="Kysymyksiin täytyy vastata ennen tulosten esittämistä"
                       matTooltipPosition="right"
                       i18n>
          Siirry tuloksiin
        </mat-list-item>

        <a *ngIf="enableQuestions"
           mat-list-item 
           (click)="followLink('browseList')"
           i18n>
          Selaa ehdokkaita vastaamatta kysymyksiin
        </a>
        <mat-list-item *ngIf="!enableQuestions"
                       class="disabled"
                       i18n-matTooltip
                       matTooltip="Vaalipiiri täytyy valita ennen ehdokkaiden selaamista"
                       matTooltipPosition="right"
                       i18n>
          Selaa ehdokkaita vastaamatta kysymyksiin
        </mat-list-item>

        <mat-divider></mat-divider>

        <!-- <a *ngIf="onboardingAvailable"
           mat-list-item 
           (click)="restartOnboarding()">
          <mat-icon matListIcon>help</mat-icon>
          Näytä sivun ohjeet
        </a>
        <mat-list-item *ngIf="!onboardingAvailable"
                       class="disabled">
          <mat-icon matListIcon>help</mat-icon>
          Ei ohjeita tälle sivulle
        </mat-list-item> -->

        <a *ngIf="enableMap || enableQuestions"
           mat-list-item 
           (click)="unsetVoterAnswers()">
           <mat-icon matListIcon>delete</mat-icon>
           <ng-container i18n>Nollaa tallennetut vastaukset</ng-container>
        </a>
        <mat-list-item *ngIf="!(enableMap || enableQuestions)"
                       class="disabled">
           <mat-icon matListIcon>delete</mat-icon>
           <ng-container i18n>Nollaa tallennetut vastaukset</ng-container>
        </mat-list-item>

        <!-- <a mat-list-item 
           (click)="openFeedback()">
          <mat-icon matListIcon>feedback</mat-icon>
          Lähetä palautetta
        </a> -->

        <a mat-list-item 
           (click)="followLink('about')">
          <mat-icon matListIcon>info</mat-icon>
          <ng-container i18n>Tietoja palvelusta</ng-container>
        </a>

        <a mat-list-item 
           (click)="switchLanguage()">
          <mat-icon matListIcon>refresh</mat-icon>
          {{ switchLanguageLabel }}
        </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [style.paddingTop]="contentTopMargin">

    <ng-container *ngIf="!underMaintenance">

      <header *ngIf="!hideTopBar"
              id="topBar"
              [class.titleScreen]="currentPage == 'titleScreen'"
              #topBar>
        <div id="topBar-menuAndTitle">
          <div id="topBar-menuButton">
            <button mat-icon-button 
                    aria-label="Avaa valikko"
                    (click)="toggleSideNav()">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <div *ngIf="currentPage != 'titleScreen'"
              class="title">
            <!-- <span *ngIf="currentPage == 'titleScreen'">Kielivaalikone</span> -->
            <span *ngIf="currentPage == 'constituencyPicker'" i18n>Kotikuntasi</span>
            <span *ngIf="currentPage == 'questions'" i18n>Kysymykset</span>
            <span *ngIf="currentPage == 'browse-list'" i18n>Ehdokkaat</span>
            <span *ngIf="currentPage == 'list'" i18n>Tulokset</span>
          </div>
        </div>
        <div id="topBar-appTitle">
            <img src="assets/images/kielivaalikone-logo-nega.png"
                 alt="Kielivaalikone – Valkompass om språk"/>
            <!-- <h1>
              <div i18n>Kielivaalikone</div>
              <div class="titleAddendum"
                   i18n>Valkompass om språk</div>
            </h1> -->
        </div>
        <div *ngIf="showListTools"
              id="topBar-tools">
          <button id="filterButton"
                  mat-icon-button 
                  (click)="openCandidateFilters()"
                  i18n-aria-label
                  aria-label="Suodata ehdokkaita"
                  [class.active]="hasActiveFilters">
            <mat-icon>filter_list</mat-icon>
          </button>
          <button id="searchButton"
                  mat-icon-button 
                  (click)="openCandidateSearch()"
                  i18n-aria-label
                  aria-label="Hae vaalipiirisi ehdokasta nimellä tai numerolla">
            <mat-icon>person_search</mat-icon>
          </button>
          <button id="favouritesButton"
                  mat-icon-button
                  (click)="openFavourites($event)"
                  i18n-aria-label
                  aria-label="Avaa muistilista">
            <mat-icon style="margin-top: -2px;">
              <ng-container *ngIf="hasFavourites">
                star
              </ng-container>
              <ng-container *ngIf="!hasFavourites">
                star_border
              </ng-container>
          </mat-icon>
          </button>
        </div>
      </header>

      <!-- ================================================================= 
          PAGE CONTENT
          ================================================================= -->

      <!-- Spinner shown when loading -->

      <app-progress-spinner *ngIf="isLoading"
                            @fadeInOut
                            [title]="loadingMessage"
                            [mode]="loadingMode"
                            [value]="loadingValue"></app-progress-spinner>

      <router-outlet></router-outlet>


      <!-- <div *ngIf="showMapTools || showListTools || showFeedbackButton"
          [@bottomToolsShift]="bottomToolsShiftTrigger"
          id="bottomTools">
        <button *ngIf="showFeedbackButton"
                id="feedbackButton"
                mat-mini-fab 
                (click)="openFeedback()"
                #locateButtonTooltip="matTooltip"
                matTooltip="Anna palautetta"
                matTooltipClass="tools-tooltip"
                matTooltipPosition="left"
                @buttonAppear>
          <mat-icon>feedback</mat-icon>
        </button>
        <button *ngIf="showMapTools"
                id="locateButton"
                mat-mini-fab 
                (click)="locateSelf()"
                #locateButtonTooltip="matTooltip"
                matTooltip="Palaa omaan sijaintiisi"
                matTooltipClass="tools-tooltip"
                matTooltipPosition="left"
                @buttonAppear>
          <mat-icon>near_me</mat-icon>
        </button>
      </div> -->

      <div *ngIf="showNextButtonBar"
          #nextButtonBar
          id="nextButtonBar"
          @appearFromBottom>
        <div class="spacer">
          <!-- Needed for flex -->
        </div>
        <button id="nextButton"
                mat-raised-button 
                color="primary" 
                (click)="goForward()">
          {{ nextButtonText }}
          <mat-icon>navigate_next</mat-icon>
        </button>
        <!-- Optional progress indicator 
            We include this element anyway for flex -->
        <div class="nextProgress">
          <ng-container *ngIf="showNextProgress">
            <span class="nextProgressInfo">
              {{ nextProgressText }}
            </span>
            <mat-progress-spinner color="primary"
                                  mode="determinate"
                                  diameter="30"
                                  strokeWidth="4"
                                  [value]="nextProgressValue">
            </mat-progress-spinner>
          </ng-container>
        </div>
      </div>

    </ng-container>
    <section *ngIf="underMaintenance"
             class="underMaintenance">

      <h1 i18n>Kielivaalikone on hetkellisesti pois käytöstä huollon vuoksi</h1>

      <p i18n>Pahoittelemme vaivaa! Korjaamme ongelmaa parasta aikaa ja pyydämme palaamaan Kielivaalikoneeseen myöhemmin.</p>

    </section>

  </mat-sidenav-content>

</mat-sidenav-container>
