<app-online-question-global-styles></app-online-question-global-styles>

<!-- <mat-icon (click)="dismiss($event)"
          id="closeIcon">close</mat-icon> -->

<!-- <div *ngIf="question.topic"
    class="topicChip category-{{ question.categoryName | toClassName }}">
  {{ question.topic }}
</div> -->

<div class="question">

  <div *ngIf="number != null"
       class="number">{{ number }}<span *ngIf="totalNumber != null" class="totalNumber">/{{ totalNumber }}</span></div>

  <h2 id="questionDetails-title">{{ question.text }}</h2>

   <!-- Additional info -->

  <div *ngIf="question.additionalInfo"
       (click)="toggleAdditionalInfo()"
       class="additionalInfo">
  
    <div class="title">
      <mat-icon>info</mat-icon>
      Mistä on kyse?
    </div>

    <div class="content"
         [@toggleExpand]="additionalInfoExpanded ? 'open' : 'closed'">
      
      {{ question.additionalInfo }}
        
    </div>
  </div>

  <!-- Selector: Likert -->

  <div *ngIf="questionType == 'Likert' || questionType == 'Likert7'"
       class="likert answerSelector">

    <mat-radio-group [(ngModel)]="voterAnswer"
                     class="likert-group">
      <mat-radio-button *ngFor="let value of question.values"
                        [value]="value.key.toString()"
                        (click)="radioClicked()"></mat-radio-button>
    </mat-radio-group>

    <div class="labels">
      <ng-container *ngFor="let value of question.values">
        <label *ngIf="value.name">{{ value.name }}</label>
      </ng-container>
    </div>

    <button *ngIf="!showDeleteButton"
            (click)="skip()"
            mat-button
            class="skip">
      <mat-icon>redo</mat-icon> Ohita tämä kysymys
    </button>

    <button *ngIf="showDeleteButton"
            (click)="deleteVoterAnswer()"
            mat-button
            color="warn"
            class="delete">
      <mat-icon>highlight_off</mat-icon> Poista vastauksesi tähän kysymykseen
    </button>

  </div>

  <!-- Selector: PreferenceOrder -->

  <div *ngIf="questionType == 'PreferenceOrder'"
       class="preferenceOrder answerSelector">
    PreferenceOrder question not implemented!
  </div>

  <!-- <div *ngIf="questionType == 'PreferenceOrder'"
       class="preferenceOrder answerSelector">

      <label>Vedä vaihtoehdot haluamaasi järjestykseen.</label>

      <div cdkDropList 
           (cdkDropListDropped)="drop($event)"
           class="preferenceOrder--list">
        <div *ngFor="let option of preferenceOrder; index as i"
             cdkDrag
             class="preferenceOrder--option" >
          <div *cdkDragPlaceholder
               class="preferenceOrder--placeholder"></div>
            {{ i + 1 }} — {{ option.name }}
        </div>
      </div>

      <div class="actions">

        <button mat-button
                type="button"
                (click)="dismiss()">Peruuta</button>
        <button mat-raised-button 
                color="primary"
                type="button"
                (click)="savePreferenceOrder()">Tallenna</button>
        <button *ngIf="!showDeleteButton"
                (click)="skip()"
                mat-button
                class="skip">
          <mat-icon>redo</mat-icon> Ohita tämä kysymys
        </button>
        <button *ngIf="showDeleteButton"
                (click)="deleteVoterAnswer()"
                mat-button
                color="warn"
                class="delete">
          <mat-icon>highlight_off</mat-icon> Poista vastauksesi tähän kysymykseen
        </button>
      </div>

  </div>

</div> -->

<!-- Distribution chart -->

<!-- <div *ngIf="questionType == 'Likert' || questionType == 'Likert7'"
     id="distributionChart"
     class="distribution {{ candidateSizingClass }}"
     (click)="toggleDistributionChart()">

  <div class="columns columns-{{ question.values.length }}"
       [@toggleExpand]="distributionChartExpanded ? 'open' : 'closed'">

    <div *ngFor="let value of question.values"
          class="column"
          #columns>
      <span *ngFor="let candidate of candidates[value.key]"
            class="candidate party-{{ candidate.partyName | toClassName }}">&bull;</span>
    </div>

  </div>

  <label [class.expanded]="distributionChartExpanded">
    <ng-container *ngIf="useMunicipalityAsConstituency">
      Kunnan ehdokkaiden vastausten jakauma
    </ng-container>
    <ng-container *ngIf="!useMunicipalityAsConstituency">
      {{ constituencyName | genitive: 'n' }} ehdokkaiden vastausten jakauma
    </ng-container>
    <mat-icon class="expandIcon">{{ distributionChartExpanded ? 'visibility' : 'visibility_off' }}</mat-icon>
  </label>

</div> -->

<!-- <app-onboarding-tour *ngIf="questionType != 'PreferenceOrder'"
                        [modal]="true"
                        tourId="DetailsQuestionLikert">
  <app-onboarding-step attachTo=".answerSelector"
                       attachOn="top"
                       advanceOnEvent="click"
                       title="Mitä mieltä olet tästä väittämästä?">
    <p>
      Valitse vaihtoehdoista se, joka parhaiten vastaa mielipidettäsi.
    </p>
  </app-onboarding-step>
  <app-onboarding-step attachTo="#distributionChart"
                       attachOn="top"
                       title="Ehdokkaiden mielipidejakauma">
    <p>
      Kysymyksen alla näet myös vaalipiirin ehdokkaiden vastausten jakauman. Voit piilottaa jakauman klikkaamalla sitä.
    </p>
    <app-onboarding-hint>
      Vastausten keskisarake on yleensä tyhjä, sillä ehdokkaiden edellytetään ottavan selkeän kannan kaikkiin kysymyksiin. He eivät siksi ole voineet vastata neutraalisti.
    </app-onboarding-hint>
  </app-onboarding-step>
</app-onboarding-tour>

<app-onboarding-tour *ngIf="questionType == 'PreferenceOrder'"
                        modal="true"
                        tourId="DetailsQuestionPreferenceOrder">
  <app-onboarding-step attachTo=".answerSelector"
                       attachOn="top"
                       advanceOnEvent="mousedown"
                       advanceOnSelector=".question"
                       title="Missä järjestyksessä vaihtoehtojen pitäisi olla?">
    <p>
      Järjestä vaihtoehdot haluaamasi järjestykseen vetämällä niitä sormella tai hiirellä. Paina lopuksi Tallenna-nappia.
    </p>
    <app-onboarding-hint>
      Vaihtoehdot ovat alustavasti satunnaisessa järjestyksessä.
    </app-onboarding-hint>
  </app-onboarding-step>
<app-onboarding-tour> -->