@import 'variables.scss'
  
.participationInfo
  text-align: center

  mat-icon
    vertical-align: -0.4rem

.participationInfo-warning
  font-weight: bold
  color: $color-warn

.questionListContainer
  display: block
  margin-bottom: 6 * $margin-M // To make way for the next button div

  .mat-chip-list-wrapper
    display: flex
    align-items: center
    justify-content: center
    padding: $margin-M

  mat-chip
    background-color: $color-secondaryBg
    cursor: pointer

.recommendationIcon,
.skippedIcon
  position: absolute
  top: -11px
  right: -9px
  color: $color-primary

.skippedIcon
  color: $color-text