
<div *ngIf="!showParticipationWarning"
     class="participationInfo">
  <mat-icon>info_outline</mat-icon>
  {{ participatingCandidates }} <span class="secondary">({{ participationPercentage }} %)</span> kunnan {{ totalCandidates }} ehdokkaasta on vastannut kysymyksiin. 
</div>

<div *ngIf="showParticipationWarning"
     class="participationInfo participationInfo-warning">
  <mat-icon>warning</mat-icon>
  Vain {{ participatingCandidates }} ({{ participationPercentage }} %) kunnan {{ totalCandidates }} ehdokkaasta on vastannut kysymyksiin. 
</div>

<div id="questionList"
     class="questionListContainer">
  <mat-chip-list>
    <mat-chip *ngFor="let question of questions"
              (click)="showQuestion(question)"
              class="category-{{ question.categoryName | toClassName }}"
              [class.answered]="question.voterAnswer">
      {{ question.topic }}
      <mat-icon *ngIf="isRecommended(question)"
                matTooltip="Suositeltu seuraava kysymys"
                matTooltipPosition="above"
                class="recommendationIcon"
                @buttonAppear>star</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>

<app-onboarding-tour #defaultTour
                     tourId="QuestionList"
                     [modal]="true"
                     [subTourIds]="['DetailsQuestionLikert', 'DetailsQuestionPreferenceOrder']">
  <app-onboarding-step title="Vastaa kysymyksiin, jotka ovat tärkeitä sinulle">
    <p>
      Klikkaa aiheita ja voit vastata mielipidekysymyksiin. Ehdokaskartan tulokset lasketaan sen perusteella, miten lähellä ehdokkaiden vastaukset ovat sinun mielipiteitäsi. Vastattuasi vähintään {{ minAnswersForMapping }} kysymykseen, pääset katsomaan tuloksia.
    </p>
    <app-onboarding-hint>
      Jos haluat nähdä ehdokkaat vastaamatta itse kysymyksiin, klikkaa linkkiä ”Selaa ehdokkaita” yläpalkissa.
    </app-onboarding-hint>
    <app-onboarding-hint icon="star">
      Tähti osoittaa suositellun seuraavan kysymyksen sen perusteella, miten tehokkaasti se jakaa ehdokkaiden mielipiteet.
    </app-onboarding-hint>
  </app-onboarding-step>
</app-onboarding-tour>

<app-onboarding-tour #enoughAnswersTour
                     tourId="QuestionListEnoughAnswers"
                     [modal]="true">
  <app-onboarding-step attachTo="#nextButton"
                       attachOn="top"
                       title="Nyt voit halutessasi siirtyä tuloksiin">
    <p>
      Olet nyt vastannut riittävän moneen kysymykseen, jotta voit siirtyä tuloksiin. Tulokset ovat kuitenkin sitä tarkemmat, mitä useampaan aiheeseen otat kantaa. Voit siis halutessasi jatkaa kysmyksiin vastaamista.
    </p>
    <app-onboarding-hint>
      Voit palata kysymyksiin myös tuloksia katsottuasi klikkaamalla yläpalkin kohtaa Kysymykset.
    </app-onboarding-hint>
  </app-onboarding-step>
</app-onboarding-tour>