<section class="buttons">
  <button id="menuButton"
          mat-icon-button 
          aria-label="Avaa valikko"
          (click)="toggleSideNav($event)">
    <mat-icon>menu</mat-icon>
  </button>
  <button id="closeButton"
          mat-icon-button 
          aria-label="Palaa alkuun"
          (click)="goToStart()">
    <mat-icon>close</mat-icon>
  </button>
</section>

<section class="content">

  <h1>
    Tietoa Ehdokaskartasta
  </h1>

  <div class="githubLink">
    <a href="https://github.com/kaljarv/ehdokaskartta" 
       target="_blank"
       mat-button>
      Lähdekoodi Githubissa
      <img src="/assets/images/github-mark.png" 
           alt="Github logo"
           title="Ehdokaskartta Githubissa" />
    </a>
  </div>
  
  <p class="ingress">
    Ehdokaskartta tarjoaa toisenlaisen, kokeellisen näkymän Ylen Eduskuntavaalien 2019 Vaalikoneen tietoihin. 
    Sen on suunnittellut ja toteuttanut <a href="http://kaljarv.com/" target="_blank">Kalle Järvenpää</a>
    kurssityönä Aalto-yliopistossa.
  </p>

  <h2>Tavoite</h2>

  <p>
    Ehdokaskartan tarkoituksena on kokeilla interaktiivisen prototyypin kautta uusia ratkaisuja useampiin
    vaalikoneiden haasteisiin. Ehdokaskartalla on erityisesti keskitytty seuraaviin ominaisuuksiin.
  </p>

  <mat-accordion multi>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Ehdokkaiden järjestäminen
        </mat-panel-title>
        <!-- <mat-panel-description>
          Kartalla tSNE-algoritmin avulla
        </mat-panel-description> -->
      </mat-expansion-panel-header>

      <p>
        Ehdokkaiden järjestäminen heidän sopivuutensa mukaan on yksi vaalikoneiden keskeisiä ongelmia. Koneiden esittämä poliittinen kenttä on hyvin moniulotteinen ja tyyppillisesti perustuu 20–30 monivalintakysymykseen. Ehdokkaat järjestetään useimmiten heidän mielipiteidensä prosentuaalisen vastaavuuden eli niin sanotun Manhattan-etäisyyden mukaan. Vaikka tällainen järjestys on helppo ymmärtää, typistää se monimutkaiset erot yhteen tai oikeastaan puoleen ulottuvuuteen, minkä lisäksi se saattaa tuottaa harhaanjohtavan tarkkuuden tunteen prosenttiarvot esittämällä.
      </p>
      <p>
        Ehdkaskartalla ehdokkaat on sen sijaan järjestetty <strong>kaksiulotteiselle kentälle</strong>. Tämä ei sinänsä ole uusi ratkaisu vaan on käytössä esimerkiksi <a href="https://www.kieskompas.nl/en/" target="_blank">Kieskompass-</a> ja <a href="https://votecompass.com/" target="_blank">Vote Compass</a> -järjestelmiin perustuvissa vaalikoneissa. Ehdokaskartassa erityistä on kuitenkin se, että kartan ulottuvuudet määritellään dynaamisesti sen perusteella, mihin kysymyksiin äänestäjä on vastannut.
      </p>
      <p>
        Siinä missä muissa ratkaisuissa tuloskentän ulottuvuudet on lähtökohtaisesti määritelty poliittisen kentän suurimpien jakolinjojen mukaan (tokikin <em>a posteriori</em> ehdokkaiden vastausten jakaumien analyysin perusteella), antaa Ehdokaskartan metodi <strong>päätäntävallan kentän hahmottamiseen äänestäjälle</strong>, jolle kaikkein merkityksellisimmät kysymykset eivät välttämättä ole samat kuin ne, jotka vahvimmin jakavat poliittista kenttää. Tämä liittyy useimpien vaalikoneiden taustalla vaikuttavaan sosiaalisen valinnan malliin demokratiasta, jota käsitellään <a href="https://www.researchgate.net/publication/261673875_What's_the_Point_of_Voting_Advice_Applications_Competing_Perspectives_on_Democracy_and_Citizenship" target="_blank">Thomas Fossenin ja Joel Andersonin (2014) mielenkiintoisessa artikkelissa</a>.
      </p>
      <p>
        Tulosten laskentaan otetaan mukaan ainoastaan ne ehdokkaiden vastaukset, joihin äänestäjä on itse vastannut. Jos äänestäjä on vastannut vain muutamaan kysymykseen, ovat tulokset vahvasti klusteroituneet. Ulottuvuuksien vähentämiseen käytetään <strong>t-SNE-algoritmia</strong>, joka pyrkii säilyttämään ehdokkaiden mielipideavaruudessa olevat paikalliset ryppäät. TSNE:n haittapuolia ovat, että kartan suunnille ei voi antaa yksiselitteistä sisältöä ja ne ovat menetelmän stokastisuuden vuoksi joka laskentakerralla erilaiset. Perustellusti voidaan myös kysyä, onko ryppäiden säilyttäminen ylipäätään oleellista.
      </p>
      <p>
        <strong>Vaihtoehtona t-SNE:lle</strong> voitaisiin käyttää esimerkiksi primäärikomponenttianalyysiä (PCA) tai sen hienostuneempia johdannaisia, mutta tässä koeversiossa on päädytty t-SNE:een osittain teknisten syiden vuoksi. Tulevaisuutta ajatellen olisi hyödyllistä kokeilla algoritmin vaihtoa PCA:han tai vastaavaan, esimerkiksi <a href="https://www.zora.uzh.ch/id/eprint/122864/" target="_blank">Jonathan Wheatleyn 2015 esittämään metodiin</a>.
      </p>
      
    </mat-expansion-panel>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Äänestäjän vastausten syöttäminen
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>
        Vaalikoneiden käyttö edellyttää yleensä, että äänestäjä vastaa 20–30 monivalintakysymykseen ennen tulosten näyttämistä. Kysymyksiä voi yleensä ohittaa yksitellen, mutta lähtökohtaisesti prosessi edellyttää kaikkien kysymysten läpikäymistä annetussa järjestyksessä. Tämä on ongelmallista useammastakin syystä: Ensinnäkin prosessi on työläs ja pitkäkestoinen semminkin, kun mielipiteen muodostaminen haastaviin poliittisiin kysymyksiin ei aina välttämättä ole helppoa. Toisekseen kysymysten järjestys on tyypillisesti annettu, jolloin alkupään kysymykset saavat suuremman painoarvon. Kolmanneksi tätä prosessia ei hevin voi luonnehtia äänestäjäkeskeiseksi, vaan se muistuttaa enemmänkin työhaastattelua (ks. myös <a href="https://www.researchgate.net/publication/261673875_What's_the_Point_of_Voting_Advice_Applications_Competing_Perspectives_on_Democracy_and_Citizenship" target="_blank">Thomas Fossen ja Joel Anderson, 2014</a>).
      </p>
      <p>
        Ehdokaskartalla äänestäjälle tarjotaan kaikki kysymykset listana, jolta hän <strong>voi valita ne kysymykset</strong>, joihin haluaa vastata. Tuloksien esittämiseen riittää yksikin vastaus, jos tämä on äänestäjän ainoa kriteeri, minkä lisäksi poliittista kenttää voi tarkastella vastaamatta yhteenkään kysymykseen.
      </p>
      <p>
        Kysymyksiin vastattaessa näytetään myös arvio tulosten tarkkuudesta, joka pohjautuu kysymysten keskinäiseen korrelaatioon. Saman korrelaatiomatriisin pohjalta Ehdokaskartta myös <strong>suosittelee äänestäjälle seuraavaa kysymystä</strong> sen mukaan, että se korreloi vahvimmin mielipideavaruuden yhä kartoittamatta olevan osan kanssa. Tuloskartta siis perustuu ainoastaan kysymyksiin, joihin äänestäjä on vastannut.
      </p>
      <p>
        Käytetty metodi on hyvin naiivi eikä kestäne syvempää tilastollista tarkastelua. Se pohjautuu vastausten <strong>polykhoriseen korrelaatiomatriisiin</strong>. Sitä mukaa, kun käyttäjä vastaa kysymyksiin, arvioidaan jäljelle jäävien kysymysten tuottama informaatioarvo sen perusteella, kuinka paljon kukin niistä korreloi yhä vastaamattomien kysymysten kanssa painottaen korrelaatiot kysymysten jäljellä olevalla epävarmuudella. Esimerkiksi jos käyttäjä on jo vastannut yhteen ympäristöaiheiseen kysymykseen, ei kentän yleisen jakauman kannalta ole kovin hyödyllistä vastata muihin ympäristökysymyksiin, sillä ne korreloivat keskenään vahvasti. Sen sijaan on parempi vastata sellaiseen kysymykseen, joka korreloi vähän ympäristön mutta mahdollisimman paljon muiden kysymysten kanssa.
      </p>
      <p>
        Kolmas erityispiirre kysymyksiin vastaamisessa on, että äänestäjälle esitetään <strong>vastausta valittaessa vaalipiirin ehdokkaiden mielipidejakauma</strong>. Tämän voi ajatella osaltaan rohkaisevan äänestäjää harkitsemaan kantaansa sen sijaan, että vaalikone vain selvittää äänestäjän annettuina pidetyt mielipiteet (vrt. jälleen <a href="https://www.researchgate.net/publication/261673875_What's_the_Point_of_Voting_Advice_Applications_Competing_Perspectives_on_Democracy_and_Citizenship" target="_blank">Thomas Fossenin ja Joel Andersonin (2014)</a> deliberatiiviseen demokraattisen prosessin käsitykseen).
      </p>
      
    </mat-expansion-panel>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Ehdokkaiden suodattaminen
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>
        Ylen Vaalikoneeseen kerätään ehdokkaiden mielipiteiden lisäksi paljon taustatietoa ehdokkaista, esimerkiksi heidän iästään, koulutuksestaan ja poliittisesta kokemuksestaan. Näitä ominaisuuksia ei kuitenkaan voi – osittain perustellusti – käyttää helposti tulosten rajaamiseen, vaikka niitä pääsee tarkastelemaan ehdokastiedoissa.
      </p>
      <p>
        Ehdokaskartalla tuloksia voi mielipidekysymyksiin vastaamisen jälkeen <strong>rajata näiden taustatietojen, puolueen tai tiettyjen mielipidekysymysten perusteella</strong>. Tämä työkalu voi tuottaa myös mielenkiintoista havaintoja kenttää kokonaisuutena tarkasteltaessa.
      </p>
      
    </mat-expansion-panel>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Puolueiden esittäminen
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>
        Suomen poliittisen järjestälmän kannalta on kyseenalaista, että vaalikoneet ovat vahvasti ehdokaslähtöisiä, vaikka ääni menee kuitenkin efektiivisesti puolueelle. Ylen Vaalikoneessa puolueiden kantoja (pääteltynä niiden ehdokkaiden keskiarvoista) on tuotu varovaisesti esiin esittämällä kunkin ehdokkaan kohdalla, minkä puolueiden kantojen keskiarvoja hänen mielipiteensä ovat lähimpänä.
      </p>
      <p>
        Ehdokaskartalla puolueet esiintyvät sekä tuloskartalla että yksittäisten mielipiteiden kohdalla. <strong>Kartalla puolueen ehdokkaiden keskipiste</strong> näytetään aina ehdokasta tarkastaltaessa, jotta äänestäjä voi nähdä, miten ehdokas sijoittuu suhteessa edustamaansa puolueeseen. Kartalla voi halutessaan nähdä myös kaikkien puolueiden sijainnit.
      </p>
      <p>
        Ehdokkaan vastauksia tarkasteltaessa näytetään <strong>puolueen ehdokkaiden vastausten keskiarvo</strong>, jotta äänestäjä voi välttyä siltä ikävältä tilanteelta, että antaa äänensä ehdokkaan mielipiteen perusteella mutta efektiivisesti äänestäkin tästä vahvasti poikkeavaa puolueen kantaa.
      </p>
      <p>
        <strong>Puoluekantojen päätteleminen ehdokkaiden keskiarvojen perusteella on kyseenalaista</strong>, eikä näin saatu tulos välttämättä edusta puoluiden todellisia linjauksia. Ehdokaskartan rajauksena on kuitenkin, että se käyttää ainoastaan Ylen Vaalikoneen tietoja, joihin puolueohjelmat eivät sisälly. Puolueiden kantojen kerääminen ei ole täysin mutkaton prosessi, mutta esimerkiksi Kieskompass- ja Vote Compass -järjestelmissä tätä varten on kehitetty luotettavalta vaikuttavat menetelmät (ks. <a href="https://voxpoplabs.com/votecompass/methodology.pdf" target="_blank">Vote Compass methodology</a>).
      </p>
      <p>
        Ehdokaskartan lähestymistapa on näistä ominaisuuksista huolimatta yhä vahvasti ehdokaslähtöinen. Äänestysjärjestelmän todellista luonnetta ajatellen olisi perusteltua <strong>kokeilla myös puoluelähtöistä menetelmää</strong>. Tätä varten tarvittaisiin kuitenkin tiedot puolueiden todellisista linjauksista.
      </p>
      
    </mat-expansion-panel>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Mobiililähtöisyys
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>
        Ehdokaskartta on suunniteltu ja toteutettu <strong>ensisijaisesti mobiilikäyttöön</strong>. Se myös tallentaa käyttäjän selaimen cookieihin sovelluksen tilan, jotta äänestäjä voi jatkaa keskeytynyttä käyttöä saumattomasti.
      </p>
      <p>
        Sovellus on toteutettu Googlen alustariippumattoman <a href="https://angular.io/" target="_blank">Angular-kirjaston</a> avulla ja sen ulkoasu perustuu pitkälti responsiivisiin <a href="https://material.angular.io/" target="_blank">Material Design</a> -komponentteihin. Tulosnäkymässä on otettu mallia <strong>karttasovellusten konventioista</strong>.
      </p>
      
    </mat-expansion-panel>

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Poliittisen kentän tutkiminen
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>
        Vaalikoneiden julkilausuttu tavoite on auttaa äänestäjiä löytämään itselleen sopivin ehdokas. Tätä tavoitetta tukevat melko eksaktit tulosnäkymät, joissa ehdokkaat tai puoleet on järjestetty yksiselitteiseen parhausjärjestykseen. Ei kuitenkaan ole itsestään selvää, että tämä on vaalikoneiden käyttäjien ensisijainen tavoite.
      </p>
      <p>
        Tampereen yliopiston <a href="https://www.vaalikoneet2020.fi/kuvio-2111" target="_blank">Vaalikoneet 2020:n hankkeen teettämän tutkimuksen</a> mukaan vuoden 2018 presidentinvaaleissa <strong>kaksi kolmesta vaalikoneiden käyttäjästä käytti niitä muuhun tarkoitukseen kuin sopivimman ehdokkaan löytämiseen</strong>. (Presidentinvaalien kenttä on toki huomattavasti eduskuntavaaleja yksinkertaisempi, ja oletettavasti moni oli jo valinnut ehdokkaansa ennen käyttöä, mutta tulos kertonee silti vaalikoneiden käyttötarkoitusten monipuolisuudesta.)
      </p>
      <p>
        Ehdokaskartan kahteen ulottuvuuteen levittäytyvä ja tarkoituksellisesti hieman epätarkka tulosnäkymä puolestaan <strong>hivuttaa painopistettä tietyn ehdokkaan suosittelusta koko poliittisen kentän tutkimisen suuntaan</strong>. Tätä käyttötarkoitusta tukevat myös suodatintoiminnot, joista enemmän ylempänä.
      </p>
      
    </mat-expansion-panel>
    
  </mat-accordion>

  <h2>Mahdollisia kehityssuuntia</h2>

  <p>
    Ehdokaskartan tämän version ominaisuudet ovat ennen kaikkea kokeellisia, ja monien osalta voi perustellusti olla useampaa mieltä niiden hyödyllisyydestä. Sovelluksen ensisijainen tarkoitus onkin kerätä käyttäjien kokemuksia näiden osalta. Voitaneen myös olettaa, että demokratian kentällä on tarvetta keskenään erilaisille vaalikoneille, jotka palvelevat käyttäjien erilaisia tarkoitusperiä, poliittisen taustatiedon määrää ja niin edelleen. Tämä prototyyppi tarjoaa konkreettisen tavan kokeilla näitä käytännössä todellista dataa käyttäen.
  </p>
  <p>
    Tässä versiossa korvan taakse jäävät erityisesti nämä kehityskohteet:
  </p>
  <ul>
    <li>
      Kartta-algoritmin (tai paremminkin datan ulottuuvuksien vähentämisalgoritmin) vaihto tSNE:stä PCA:han tai vastaavaan.
    </li>
    <li>
      Puolueen suosittelun tai puolueen valinnan ottaminen mukaan.
    </li>
    <li>
      Ehdokkaan mielipiteiden esittäminen tiiviimmässä tai selkeämässä muodossa, vaikkapa taulukkohenkisenä näkymänä.
    </li>
    <li>
      Äänestäjän rohkaisu vastaamaan lisäkysymyksiin esimerkiksi tarkasteltaessa ehdokkaan mielipiteitä kysymyksiin, joihin äänestäjä ei vielä ole vastannut.
    </li>
  </ul>
  <p>
    Ehdokaskartan lähdekoodi löytyy <a href="https://github.com/kaljarv/ehdokaskartta" target="_blank">Githubista</a>. Koodi on sekavaa, epäeleganttia ja huonosti dokumentoitua, mistä pahoittelut. Ehdokaskartta on tekijän ensikosketus Angulariin, ja hänen ohjelmointikokemuksensa on rajoittunutta.
  </p>

  <h2>Toteutus</h2>

  <p>
    Ehdokaskartan on suunnittellut ja toteuttanut 
    <a href="http://kaljarv.com/" target="_blank">Kalle Järvenpää</a>.
    Se on tehty kurssityönä Aalto-yliopiston visuaalisen viestinnän muotoilun maisteriohjelmassa professori
    Rupesh Vyasin ohjaamana.
  </p>
  <p>
    Sovelluksen käyttämät tiedot ovat Ylen eduskuntaavalien 2019 Vaalikoneesta, mutta sovellus on itsenäisesti
    toteutettu, eikä Yleisradio ole osallisena sen tuotantoon taikka vastuussa sen sisällöstä tai toiminnasta.
  </p>
  <p>
    Sovellus on toteutettu Googlen <a href="https://angular.io/" target="_blank">Angular-kirjaston</a> 
    avulla ja sen ulkoasu perustuu pitkälti <a href="https://material.angular.io/" target="_blank">Material 
    Design</a> -komponentteihin. Taustatietokantana käytetään niin ikään Googlen Firebasea. T-SNE-algoritmin
    Javascript-toteutus on <a href="https://github.com/karpathy" target="_blank">Andrej Karpathyn</a> käsialaa.
  </p>

  <button id="nextButton"
          color="primary"
          mat-stroked-button 
          (click)="goToStart()">
    Palaa alkuun
    <mat-icon>navigate_next</mat-icon>
  </button>

</section>

<section class="logos">
  <!-- <a mat-button
     href="https://yle.fi/"
     title="Yle"
     target="_blank">
    <img id="logos-yle"
         src="assets/images/yle-logo-black.svg" />
  </a> -->
  <a mat-button
     href="https://www.aalto.fi/fi"
     title="Aalto-yliopisto"
     target="_blank">
    <img id="logos-aalto"
        src="assets/images/aalto-logo-black.svg" />
  </a>
  <a mat-button
     href="http://kaljarv.com/"
     title="Kalle Järvenpää Design"
     target="_blank">
    <img id="logos-kaljarv"
        src="assets/images/kaljarv-logo-black.svg" />
  </a>
</section>