<app-details-question-global-styles></app-details-question-global-styles>

<!-- <h4><mat-icon>help</mat-icon>{{ question.category }}</h4> -->

<h2>{{ question.text }}</h2>

<div class="options">

  <div class="likert">

    <mat-radio-group [(ngModel)]="voterAnswer"
                     class="likert-group">
      <mat-radio-button *ngFor="let value of question.values"
                        [value]="value.toString()"></mat-radio-button>
    </mat-radio-group>

    <div class="labels">
      <label>Täysin eri mieltä</label>
      <label class="labels-empty"></label>
      <label>Neutraali</label>
      <label class="labels-empty"></label>
      <label>Täysin samaa mieltä</label>
    </div> 

    <button *ngIf="showDeleteButton"
            (click)="deleteVoterAnswer()"
            mat-button
            color="warn"
            class="likert-delete">
      <mat-icon>highlight_off</mat-icon> Poista vastauksesi tähän kysymykseen
    </button>

  </div>

  <div class="distribution {{ candidateSizingClass }}">

    <div class="columns columns-{{ question.values.length }}">

      <div *ngFor="let value of question.values"
           class="column"
           #columns>
        <span *ngFor="let candidate of candidates[value]"
              class="candidate party-{{ candidate.partyName | toClassName }}">&bull;</span>
      </div>

    </div>

    <label>{{ constituencyName }}n ehdokkaiden vastausten jakauma</label>

  </div>

</div>