<app-details-question-global-styles></app-details-question-global-styles>

<div *ngIf="question.topic"
    class="topicChip category-{{ question.categoryName | toClassName }}">
  {{ question.topic }}
</div>

<h2>{{ question.text }}</h2>

<div class="content">

  <!-- Selector: Likert -->

  <div *ngIf="questionType == 'Likert' || questionType == 'Likert7'"
       class="likert">

    <mat-radio-group [(ngModel)]="voterAnswer"
                     class="likert-group">
      <mat-radio-button *ngFor="let value of question.values"
                        [value]="value.key.toString()"></mat-radio-button>
    </mat-radio-group>

    <div class="labels">
      <ng-container *ngFor="let value of question.values">
        <label *ngIf="value.name">{{ value.name }}</label>
      </ng-container>
    </div>

    <button *ngIf="showDeleteButton"
            (click)="deleteVoterAnswer()"
            mat-button
            color="warn"
            class="delete">
      <mat-icon>highlight_off</mat-icon> Poista vastauksesi tähän kysymykseen
    </button>

  </div>

  <!-- Selector: PreferenceOrder -->

  <div *ngIf="questionType == 'PreferenceOrder'"
       class="preferenceOrder">

      <label>Vedä vaihtoehdot haluamaasi järjestykseen.</label>

      <div cdkDropList 
           (cdkDropListDropped)="drop($event)"
           class="preferenceOrder--list">
        <div *ngFor="let option of preferenceOrder"
             cdkDrag
             cdkDragBoundary=".preferenceOrder--list"
             class="preferenceOrder--option" >
          <div *cdkDragPlaceholder
               class="preferenceOrder--placeholder"></div>
          {{ option.name }}
        </div>
      </div>

      <div class="actions">
        <button mat-button
                type="button"
                (click)="dismiss()">Peruuta</button>
        <button mat-raised-button 
                color="primary"
                type="button"
                (click)="savePreferenceOrder()">Tallenna</button>
        <button *ngIf="showDeleteButton"
                (click)="deleteVoterAnswer()"
                mat-button
                color="warn"
                class="delete">
          <mat-icon>highlight_off</mat-icon> Poista vastauksesi tähän kysymykseen
        </button>
      </div>

  </div>

  <!-- Distribution chart -->

  <div *ngIf="questionType == 'Likert' || questionType == 'Likert7'"
       class="distribution {{ candidateSizingClass }}">

    <div class="columns columns-{{ question.values.length }}">

      <div *ngFor="let value of question.values"
           class="column"
           #columns>
        <span *ngFor="let candidate of candidates[value.key]"
              class="candidate party-{{ candidate.partyName | toClassName }}">&bull;</span>
      </div>

    </div>

    <label>{{ constituencyName | genitive: 'n' }} ehdokkaiden vastausten jakauma</label>

  </div>

</div>