<h4 *ngIf="question.topic"
    class="topicChip category-{{ question.categoryName | toClassName }}">
  {{ question.topic }}
</h4>

<h3>
  {{ question.text }}
</h3>

<div class="answerBlock">

  <app-likert-answer *ngIf="questionType == 'Likert' || questionType == 'Likert7'"
                     [question]="question"
                     [candidateAnswer]="candidateAnswer"
                     [candidateTitle]="candidateTitle"
                     [partyName]="partyName"
                     [partyAnswer]="partyAnswer"
                     [partyTitle]="partyTitle"
                     [voterAnswer]="voterAnswer"></app-likert-answer>

  <app-preference-order-answer *ngIf="questionType == 'PreferenceOrder'"
                               [question]="question"
                               [candidateAnswer]="candidateAnswer"
                               [candidateTitle]="candidateTitle"
                               [partyName]="partyName"
                               [partyAnswer]="partyAnswer"
                               [partyTitle]="partyTitle"
                               [voterAnswer]="voterAnswer"></app-preference-order-answer>

  <div *ngIf="showMissingAnswerInfo"
       class="missingAnswerInfo">
    Jos ehdokas ei ole vastannut kysymykseen, oletamme hänen vastauksensa olevan vastakkainen sinun vastaukseesi nähden, kun ehdokkaan sopivuutta lasketaan.
  </div>

</div>

<app-fadeout-expander *ngIf="candidateAnswerOpen"
                      class="openAnswer">
  <mat-icon>format_quote</mat-icon>
  {{ candidateAnswerOpen }}
</app-fadeout-expander>