<svg:g [class]="classNames"
       [attr.transform]="positionTransform">

  <!-- Contains the avatar proper and sets scale -->
  <svg:g [attr.transform]="scaleTransform">

    <!-- Handles inner alignment and appearing animation -->
    <svg:g @innerAlignment
           [attr.style]="style">

      <svg:polygon points="13.79 1.24 13.2 0 0 0 0 45 2.93 45 2.93 14.67 11.15 14.67 11.73 15.91 22 15.91 22 1.24 13.79 1.24"
                   class="flag" />
      
      <svg:text x="11.3091"
                y="10.4821"
                text-anchor="middle"
                class="party">
        {{ party }}
      </svg:text>

    </svg:g>

  </svg:g>
  
</svg:g>